Repository lambdasawa/mirei-button: changes, and which lefthook commands are due for each by the changed paths.
All: infra-linter, trimmer-linter

lefthook.yml:

pre-commit:
  commands:
    infra-linter:
      root: "infra/"
      glob: "**.{js,ts,json}"
      run: yarn lint
    trimmer-linter:
      root: "trimmer/"
      glob: "**.go"
      run: golangci-lint run ./...

:wrench: Add lint rule into Makefile
  Makefile
Due: none

:whale: Add docker-compose.yml
  Makefile
  docker-compose.yml
Due: none

:tada: vue create
  trimmer/frontend/.browserslistrc
  trimmer/frontend/.eslintrc.js
  trimmer/frontend/.gitignore
  trimmer/frontend/README.md
  trimmer/frontend/babel.config.js
  trimmer/frontend/jest.config.js
  trimmer/frontend/package.json
  trimmer/frontend/public/favicon.ico
  trimmer/frontend/public/index.html
  trimmer/frontend/src/App.vue
  trimmer/frontend/src/assets/logo.png
  trimmer/frontend/src/components/HelloWorld.vue
  trimmer/frontend/src/main.ts
  trimmer/frontend/src/router/index.ts
  trimmer/frontend/src/shims-tsx.d.ts
  trimmer/frontend/src/shims-vue.d.ts
  trimmer/frontend/src/store/index.ts
  trimmer/frontend/src/views/About.vue
  trimmer/frontend/src/views/Home.vue
  trimmer/frontend/tests/unit/example.spec.ts
  trimmer/frontend/tsconfig.json
  trimmer/frontend/yarn.lock
Due: none

:tada: vue add vuetify
  trimmer/frontend/package.json
  trimmer/frontend/public/index.html
  trimmer/frontend/src/App.vue
  trimmer/frontend/src/assets/logo.svg
  trimmer/frontend/src/components/HelloWorld.vue
  trimmer/frontend/src/main.ts
  trimmer/frontend/src/plugins/vuetify.ts
  trimmer/frontend/tsconfig.json
  trimmer/frontend/vue.config.js
  trimmer/frontend/yarn.lock
Due: none

:sparkles: Add GET /video
  .gitignore
  trimmer/README.md
  trimmer/command/command.go
  trimmer/command/sound.go
  trimmer/command/video.go
  trimmer/trim/trim.go
  trimmer/web/endpoint/sound/get.go
  trimmer/web/endpoint/video/get.go
  trimmer/web/web.go
Due: trimmer-linter

:sparkles: Add basic trimmer
  trimmer/frontend/package.json
  trimmer/frontend/public/index.html
  trimmer/frontend/src/App.vue
  trimmer/frontend/src/components/HelloWorld.vue
  trimmer/frontend/src/components/Trimmer.vue
  trimmer/frontend/src/views/Home.vue
  trimmer/frontend/tests/unit/example.spec.ts
  trimmer/frontend/vue.config.js
  trimmer/web/web.go
Due: trimmer-linter

:sparkles: Add twitter login feature
  .env.sample
  trimmer/frontend/src/App.vue
  trimmer/frontend/src/components/Trimmer.vue
  trimmer/go.mod
  trimmer/go.sum
  trimmer/web/endpoint/twitter/twitter.go
  trimmer/web/web.go
Due: trimmer-linter

:construction: Add POST /register
  .env.sample
  trimmer/frontend/src/components/Trimmer.vue
  trimmer/go.mod
  trimmer/go.sum
  trimmer/web/endpoint/register/register.go
  trimmer/web/web.go
Due: trimmer-linter

:sparkles: Add POST /bulk-register
  trimmer/web/endpoint/register/register.go
  trimmer/web/web.go
Due: trimmer-linter

:bento: Import asset
  public/background.jpg
  public/favicon.ico
  public/index.html
Due: none

:sparkles: Remove origin from metadata
  trimmer/web/endpoint/register/register.go
Due: trimmer-linter

:bug: Fix original video filename
  trimmer/command/sound.go
Due: trimmer-linter

:sparkles: Add public page
  public/.browserslistrc
  public/.eslintrc.js
  public/.gitignore
  public/README.md
  public/babel.config.js
  public/index.html
  public/jest.config.js
  public/package.json
  public/public/favicon.ico
  public/public/index.html
  public/src/App.vue
  public/src/assets/background.jpg
  public/src/assets/logo.svg
  public/src/components/HomeComponent.vue
  public/src/main.ts
  public/src/plugins/vuetify.ts
  public/src/router/index.ts
  public/src/shims-tsx.d.ts
  public/src/shims-vue.d.ts
  public/src/store/index.ts
  public/src/views/Home.vue
  public/tests/unit/example.spec.ts
  public/tsconfig.json
  public/vue.config.js
  public/yarn.lock
Due: none

:rocket: Upload assets when make deploy
  infra/bin/post-deploy.ts
  infra/lib/mirei-button-stack.ts
Due: infra-linter

:wrench: Remove unused env var
  .env.sample
Due: none

:bug: Avoid cfn output conflict
  infra/bin/post-deploy.ts
  infra/lib/mirei-button-stack.ts
Due: infra-linter

:sparkles: Create invalidation when button registered
  .env.sample
  trimmer/web/endpoint/register/register.go
Due: trimmer-linter

:sparkles: Post tweet when button registered
  trimmer/web/endpoint/register/register.go
Due: trimmer-linter

:wrench: Include .env in container
  docker-compose.yml
Due: none

:whale: Serve web ui from container
  trimmer/Dockerfile
Due: none

:mute: Remove console.log
  trimmer/frontend/src/components/Trimmer.vue
Due: none

:whale: Fetch dependencies in trimmer container
  trimmer/Dockerfile
Due: none

:lock: Check user before upload sound
  trimmer/web/endpoint/register/register.go
Due: trimmer-linter

:bug: Fix origin
  trimmer/frontend/src/components/Trimmer.vue
Due: none

:sparkles: Allow HTTP range requests
  trimmer/web/endpoint/video/get.go
Due: trimmer-linter

:zap: Do not call ioutil.ReadFile to video file
  trimmer/command/video.go
  trimmer/web/endpoint/video/get.go
Due: trimmer-linter

:sparkles: Add video reload button
  trimmer/frontend/src/components/Trimmer.vue
Due: none

:sparkles: Support youtu.be/xxx format url
  trimmer/command/command.go
Due: trimmer-linter

:arrow_up: yarn upgrade
  infra/package.json
  infra/yarn.lock
Due: infra-linter

:bug: Find output by ExportKey instead of OutputKey
  infra/bin/post-deploy.ts
Due: infra-linter

:arrow_up: yarn upgrade
  trimmer/frontend/yarn.lock
Due: none

:arrow_up: yarn upgrade
  public/yarn.lock
Due: none

:bug: Fix preview url
  trimmer/frontend/src/components/Trimmer.vue
Due: none

:arrow_up: Update dependencies
  infra/package.json
  infra/yarn.lock
Due: infra-linter

:bulb: Add TODO
  infra/bin/post-deploy.ts
Due: infra-linter

:sparkles: Use ECS for trimmer
  infra/bin/mirei-button.ts
  infra/lib/mirei-button-trimmer-stack.ts
  infra/package.json
  infra/yarn.lock
Due: infra-linter

Update README.md
  README.md
Due: none
